
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  gap: 10%;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .App{
    flex-direction: column;
    gap: 4rem;
    padding: 5rem;
  }
}

.green-text{color: #0F7E0D}

.flex{display: flex;}
.flex-d-col{display: flex; flex-direction: column;}
.flex-a-cen{display: flex; align-items: center;}
.flex-a-cen-j-cen{display: flex; align-items: center; justify-content: center;}

.text-center{text-align: center;}

.medium-bold{font-weight: 500;}
.semi-bold{font-weight: 600;}
.bold{font-weight: 700;}

.font-15{font-size: .9375rem;}
.font-21{font-size: 1.3125rem;}
.font-30{font-size: 1.875rem;}